## WeatherPy
----

In [1]:
# Dependencies and Setup
import pandas as pd
# File to Load (Remember to Change These)
cities_data = "cities.csv"
cities_df = pd.read_csv(cities_data)
cities_df.head()

,Unnamed: 0,City,Country,Date,Lat,Lng,Humidity,Cloudiness,Wind Speed,Max Temp
0,0,taolanaro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,hermanus,ZA,2020-04-11 16:46:54,-34.42,19.23,93.0,100.0,18.01,63.00
2,2,atuona,PF,2020-04-11 16:46:55,-9.80,-139.03,66.0,48.0,5.77,82.89
3,3,margate,GB,2020-04-11 16:46:55,51.38,1.39,87.0,41.0,3.36,57.00
4,4,mataura,NZ,2020-04-11 16:46:55,-46.19,168.86,58.0,93.0,1.99,64.00

In [2]:
cities_df = cities_df.drop('Unnamed: 0', axis=1)
cities_df

,City,Country,Date,Lat,Lng,Humidity,Cloudiness,Wind Speed,Max Temp
0,taolanaro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,hermanus,ZA,2020-04-11 16:46:54,-34.42,19.23,93.0,100.0,18.01,63.00
2,atuona,PF,2020-04-11 16:46:55,-9.80,-139.03,66.0,48.0,5.77,82.89
3,margate,GB,2020-04-11 16:46:55,51.38,1.39,87.0,41.0,3.36,57.00
4,mataura,NZ,2020-04-11 16:46:55,-46.19,168.86,58.0,93.0,1.99,64.00
...,...,...,...,...,...,...,...,...,...
601,korla,CN,2020-04-11 16:49:40,41.76,86.15,41.0,69.0,4.00,59.00
602,kuty,UA,2020-04-11 16:49:41,48.26,25.18,67.0,0.0,1.21,37.54
603,mafeteng,LS,2020-04-11 16:49:41,-29.82,27.24,38.0,4.0,7.54,56.34
604,marrakesh,MA,2020-04-11 16:49:41,31.63,-8.01,72.0,94.0,5.82,60.80
605,imeni poliny osipenko,RU,2020-04-11 16:49:42,52.42,136.49,57.0,0.0,8.59,44.19

In [3]:
na_drop_cities = cities_df.dropna(how="any")
na_drop_cities

,City,Country,Date,Lat,Lng,Humidity,Cloudiness,Wind Speed,Max Temp
1,hermanus,ZA,2020-04-11 16:46:54,-34.42,19.23,93.0,100.0,18.01,63.00
2,atuona,PF,2020-04-11 16:46:55,-9.80,-139.03,66.0,48.0,5.77,82.89
3,margate,GB,2020-04-11 16:46:55,51.38,1.39,87.0,41.0,3.36,57.00
4,mataura,NZ,2020-04-11 16:46:55,-46.19,168.86,58.0,93.0,1.99,64.00
5,vila franca do campo,PT,2020-04-11 16:46:55,37.72,-25.43,82.0,20.0,12.75,57.20
...,...,...,...,...,...,...,...,...,...
601,korla,CN,2020-04-11 16:49:40,41.76,86.15,41.0,69.0,4.00,59.00
602,kuty,UA,2020-04-11 16:49:41,48.26,25.18,67.0,0.0,1.21,37.54
603,mafeteng,LS,2020-04-11 16:49:41,-29.82,27.24,38.0,4.0,7.54,56.34
604,marrakesh,MA,2020-04-11 16:49:41,31.63,-8.01,72.0,94.0,5.82,60.80
605,imeni poliny osipenko,RU,2020-04-11 16:49:42,52.42,136.49,57.0,0.0,8.59,44.19

## Generate Cities List

In [4]:
#export to html
# cities_df.to_csv('../output_data/cities.csv')
na_drop_cities.to_html('../Resources/weather_data.html')